<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CropDefender AI</title>

  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

   
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/index.css') }}">
   

</head>
<body>
    


<header>

    <a href="#" class="logo">CropDefender<span class="fas fa-globe-asia"></span>AI</a>

    <div id="menu" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#team">team</a>
    </nav>

</header>



<section class="home" id="home">

    <div class="content">
        <h3>Save the plant from Diseases</h3>
        <p>CropDefender AI is a cutting-edge technology dedicated to revolutionizing Crop Disease Prediction and Management System.</p>
       
    </div>

</section>


<div class="icons-container">

    <div class="icons">
        <img src="../static/images/potato1.jpg" alt="">
        <h3>Patato Health</h3>
        <a href="/inputpotato" class="btn">Predict Disease </a>
    </div>

    <div class="icons">
        <img src="../static/images/corn-1.jpg" alt="">
        <h3>Corn Health</h3>
        <a href="#" class="btn">Predict Disease </a>
    </div>

   
    <div class="icons">
        <img src="../static/images/to2.jpg" alt="">
        <h3>Tamato Health</h3>
        <a href="#" class="btn">Predict Disease </a>
    </div>

    
    <div class="icons">
        <img src="../static/images/grapes-1.jpg" alt="">
        <h3>Grapes Health</h3>
        <a href="#" class="btn">Predict Disease </a>
    </div>

</div>


<section class="donate" id="donate">


</section>



<section class="team" id="team">

    <h1 class="heading">our team</h1>

    <div class="box-container">

        <div class="box">
            <img src="../static/images/Himanshu_image.jpg" alt="">
            <div class="info">
                <h3>Himanshu</h3>
                <p>Machine & Deep Learning | UI & UX Designer |Web Developer</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>


        <div class="box">
            <img src="../static/images/ankita-new.png" alt="">
            <div class="info">
                <h3>Ankita Yadav</h3>
                <p>Machine Learning & Web designer</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

       
        <div class="box">
            <img src="../static/images/Prakash.JPG" alt="">
            <div class="info">
                <h3>Dr Prakash Singh</h3>
                <p>AI & ML Expert | HOD CSE Department</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

    </div>
    
</section>




<div class="footer">

 

    <h1 class="credit"> created by <a href="#"> CropDefender AI Team </a> | all rights reserved@2024 </h1>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="../static/js/script.js"></script>


</body>
</html>